<div class="mt-4">
<%= simple_form_for @rate do |f| %>
  <%= f.input :rate, required: true %>
  <%= f.input :force_date, required: true,
      as: :datetime, html5: true %>
  <%= f.button :submit, class: 'btn-primary mt-2' %>
<% end %>
</div>
